<html>
<head>
    <title>QR Code Result</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Generated QR Code</h1>
    <img src="<%= url %>" alt="QR Code">     
</body>
</html>
